table, td, th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table{
    border: 1px solid black;
    margin: 20px auto;
    font-size: 2em;
}
tr, td{
    width: 140px;
    height: 30px;
}
.zard{
    background-color: yellow;
}
.green{
    background-color: rgb(69, 154, 69);
    text-align: center;
}
.red{
    background-color: red;
    text-align: center;
}
.full{
    background-color: gray;
    text-align: center;
}
.fed{
    text-align: center;
}
.small{
    width: 70px;
    height: 30px;
    background-color: red;
}